<div class="wrapper fadeInDown">
    <div id="formContent">
        
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->
          <br>
              <!-- Tittle -->
              <div class="fadeIn first">
                <a class="underlineHover" href="#">Number Search</a>
              </div>
              <br>
              <!-- Inputs -->
              
                <input type="text" id="firstInput" class="fadeIn second" name="login" placeholder="Enter Number Array" #inpt1 >
                <input type="number" id="firstInput" class="fadeIn second" name="login" placeholder="Enter No" #inpt2 >
                <input type="button" class="fadeIn fourth" value="Check" (click)='onSave(inpt1.value,inpt2.value)'>
             
          
              
              <div id="formFooter">
                <a class="underlineHover" href="#">{{response}}</a>
              </div>
          
            </div>
          </div>

    </div>
</div>
