<div class="container">
    <!-- <button class="btn btn-sm btn-info" routerLink="/pet/{{ pet.id }}">Edit</button> -->

<button type="button" class="btn btn-success" routerLink='/create'>Add Animal</button>
</div>
<br><br>
<div class="container">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Breed</th>
          <th scope="col">Age</th>
          <th scope="col">Diagnosis</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animals; index as i">  
          <td>{{i+1}}</td>
          <td>{{animal.type}}</td>
          <td>{{animal.breed}}</td>
          <td>{{animal.age}}</td>
          <td>{{animal.diagnosis}}</td>
          <td><button type="button" class="btn btn-dark" (click)='onEdit(animal.id)'>Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)='onDelete(animal.id)'>Delete</button></td>
  
        </tr>
  
      </tbody>
    </table>
  </div>

  