<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <br>
        <!-- Tittle -->
        <div class="fadeIn first">
          <a class="underlineHover" >Anagram Checker</a>
        </div>
        <br>
        <!-- Inputs -->

        <input type="text" id="firstInput" class="fadeIn second" placeholder="First Word" #box1>
        <input type="text" id="secondInput" class="fadeIn third" placeholder="Second Word" #box2>
        <br><br>
        <input type="button" class="fadeIn fourth" value="Check" (click)='onSubmit(box1.value,box2.value)'>


        <div id="formFooter">

          <a class="underlineHover">{{labelView}}</a>

        </div>

      </div>
    </div>

  </div>
</div>