<div class="page">
  <nav class="page__menu menu">
    <ul class="menu__list r-list">
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined">Home</a></li>
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined" routerLink = '/anagram'>Anagram</a></li>
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined" routerLink = '/letter'>Letters</a></li>
      <li class="menu__group"><a href="#0" class="menu__link r-link text-underlined" routerLink = '/number'>Biggest</a></li>
    </ul>
  </nav>
  <br><br><br>

</div>
<div>
  <router-outlet></router-outlet>
</div>