
<div class="wrapper fadeInDown">
    <div id="formContent">
  
      <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <br>
          <!-- Tittle -->
          <div class="fadeIn first">
            <a class="underlineHover" >Add New Animal</a>
          </div>
          <br>
          <!-- Inputs -->
  
          <input type="text" id="firstInput" class="fadeIn second" value='' #box1>
          <input type="text" id="secondInput" class="fadeIn third" placeholder="Breed" #box2>
          <input type="text" id="secondInput" class="fadeIn third" placeholder="Age" #box3>
          <input type="text" id="secondInput" class="fadeIn third" placeholder="Diagnosis" #box4>
          <br><br>
          <input type="button" class="fadeIn fourth" value="Update" (click)="onEdit(box1.value,box2.value,box3.value,box4.value)">
  
  
          <div id="formFooter">
  
            <a class="underlineHover"></a>
  
          </div>
  
        </div>
      </div>
  
    </div>
  </div>